<section id="new-user-action" ng-hide="$root.user">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h3>Crie sua conta</h3>
              <p>Preencha os campos abaixo para entrar no Maratonando</p>
          </div>
          <div class="form-top-right">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <div class="form-bottom">
            
        </div>
      </div>
    </div>
  </div>
</section>