.container {
  font-family: 'Cinzel', serif;
  font-weight: 300;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.fancy-border {
  border-style: solid;
  border-width: 0px 0px 50px;
  opacity: 0.5;
  margin: 5px 0 5px 0;
  -moz-border-image: url("../imgs/border.jpg") 0 0 596 repeat stretch;
  -webkit-border-image: url("../imgs/border.jpg") 0 0 596 repeat stretch;
  -o-border-image: url("../imgs/border.jpg") 0 0 596 repeat stretch;
  border-image: url("../imgs/border.jpg") 0 0 596 fill repeat stretch;
}

#sidenav a {
  color: #aaa;
}